body {
    padding-top: 70px;
}

.container {
    max-width: 800px;
}

h2 {
    padding-top: 30px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
}

.fromjetbrains {
    color: #FF0000;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -40px;
}

.fromjetbrains a,  .fromjetbrains a:hover{
    color: #FF0000;
}

.jumbotron.code-sample {
    padding: 10px 20px!important;
    background-color: #1B2426!important;
}

.jumbotron.code-sample pre {
    display: none;
}

.jumbotron.code-sample .syntaxhighlighter {
    overflow-y: hidden!important;
    font-size: 18px!important;
}

.performancechart {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
}

.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
