body {
    padding-top: 70px;
}

.container {
    max-width: 800px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron.code-sample {
    padding: 10px 20px!important;
    background-color: #1B2426!important;
}

.jumbotron.code-sample pre {
    display: none;
}

.jumbotron.code-sample .syntaxhighlighter {
    overflow-y: hidden!important;
    font-size: 18px!important;
}

.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}